/* I like the fact that the css file is named tables, ahh 1999 */
body { 
  background:#FFF url("/img/COLOURlovers.com-60s_Wallpaper.png");
  margin:0px;
  padding:0px; 
}
#container { 
  width:830px;
  margin:0px auto;
  padding: 15px;
  background-color:#FFF;
  text-align:center;
  -webkit-box-shadow: 0 5px 5px #888;
}
